* {
    color: #00ff2b;
    font-family: 'Orbitron', sans-serif;
    line-height: 2;
    letter-spacing: 3px;
    box-sizing: border-box;
}

html,
body {

    height: 100vh;
    width: 100vw;
    background-image: url('/matrix-code.gif');
    background-repeat: repeat;
    font-family: 'Orbitron', sans-serif;
}

header {
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
}

/* HEADER */
.header_img {
    width: 15%;
    margin: 20px;
    background-color: black;
    transition: all 10s ease-in-out;
}

.header_img:hover {
    transform: scale(.3);
    opacity: 0;
}

.header-title {
    width: fit-content;
    text-transform: uppercase;
    background-color: black;
    position: relative;
    left: 5%;
    font-size: 2.2rem;
}

/* MAIN CONTAINER */
.wrapper {
    width: 95%;
    height: 60%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

}

.text_container {
    width: 80%;
    margin-inline: auto;
    border: 2px solid #00ff2b;
    border-radius: 5px;
    grid-column: 1/2;
    grid-row: 1;
    box-shadow: 3px 3px 1px 1px green;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: block;
    background-color: black;
    border-style: none;
    border-color: transparent;
    resize: none;
    overflow: auto;
    outline: none;
    font-size: 1.3rem;
    border-radius: 5px;
}

textarea::placeholder {
    color: #00ff2b;
    opacity: 0.5;
}

.text_container_2 {
    width: 80%;
    /* background-color: black; */
    margin-inline: auto;
    border: 2px solid #00ff2b;
    border-radius: 5px;
    grid-column: 2/2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 1px 1px green;
    box-sizing: border-box;
}

#finalMessage {
    width: 100%;
    display: none;
}

.rightContent {
    text-align: center;
}



/* MAIN BOTTOM CONTAINER */
.rightContent {
    padding-bottom: 70px;
}


.warning-img {
    width: 25%;
    margin: 10px 0;
    transition: all .3s ease-in-out;
}

.warning-img:hover {
    transform: scale(1.05);
}

.warning-msg {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px 0;
}

.warning-desc {
    font-size: .7rem;
    font-weight: bold;
    margin: 10px 0;
}

.tooltip {
    position: relative;
    display: flex;
    width: 17px;
    height: 17px;
    margin: 10px;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #00ff2b;
    text-align: center;
    border: #00ff2b 1px solid;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    cursor: none;
}

.disclaimer {
    width: 86%;
    height: 20px;
    margin: 15px auto;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    font-size: 0.55rem;
}

.disc-img {
    width: 100%;
    height: auto;
}

.bot-wrapper {
    width: 95%;
    height: auto;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.bot-wrappwer-left {
    width: 100%;
    text-align: center;
}

.bot-wrapper-right {
    text-align: center;
}

button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: black;
    border: 1px solid #00ff2b;
    box-shadow: 2px 4px 1px 1px #009a22;
    margin: 10px 10px 5px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all .1s ease-in-out;
}

button:hover {
    background-color: #00ff2b;
    color: black;
}

button:active {
    opacity: 0.7;
    box-shadow: 1px 1px 1px 1px green;
    transform: translatey(3px);
    transform: translateX(1px);
}


/* FOOTER SECTION */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;

}

footer a {
    text-decoration: none;
    font-size: .5rem;
    font-weight: bold;
    cursor: default;
}

.footer {
    width: fit-content;
    height: auto;
    text-align: center;
    margin: 5px auto;
    padding: 3px;
}